@import "~styles.scss";

.mat-toolbar.mat-primary {
  position: sticky;
  z-index: 3;
  top: 0;
}

.mat-toolbar.mat-secondary {
  position: relative;
  z-index: 2;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-link {
  padding: 0px 10px;
}

.toolbar-link:hover {
  cursor: pointer;
}

.toolbar-link.active {
  color: $primary;
}