<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>Universal Facade</span>
    <span class="toolbar-spacer"></span>
    <span *ngIf="!(authenticated | async)" class="toolbar-link" (click)="openLoginDialog()">Login</span>
    <button *ngIf="user | async; let user" mat-button [matMenuTriggerFor]="userMenu">
      <span>{{user.username}}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>person_outline</mat-icon>
        <span [routerLink]="['/profile']" routerLinkActive="active">Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span [routerLink]="['/settings']" routerLinkActive="active">Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span (click)="logout()">Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="secondary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span class="toolbar-link" [routerLink]="['/dashboard']" routerLinkActive="active">Dashbaord</span>
    <span class="toolbar-link" [routerLink]="['/news']" routerLinkActive="active">News</span>
    <span class="toolbar-link" [routerLink]="['/help']" routerLinkActive="active">Help</span>
  </mat-toolbar-row>
</mat-toolbar>