mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-dialog-content > * {
  width: 100%;
}

.loginPanel {

  .mat-toolbar {
    margin-bottom: 20px;
  }

  .mat-dialog-container { 
    padding: 0;
    overflow: hidden;
  }

  .mat-dialog-content { 
    margin: 0;
  }

  .mat-dialog-actions { 
    margin-bottom: 0px !important;
    padding: 20px 40px;
  }

}