<mat-sidenav-container autosize>
  <mat-sidenav #drawer mode="side" opened="true" fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list *ngIf="menu | async; let menu">
      <mat-list-item *ngFor="let menuItem of menu" routerLinkActive="active">
        <mat-icon matListIcon *ngIf="menuItem.icon">{{menuItem.icon}}</mat-icon>
        <a matLine [routerLink]="menuItem.path">{{menuItem.gloss}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>