@import "~styles.scss";

.mat-snack-bar-container {
  padding: 0px;
}

.alert-message {
  font-size: 18px;
}

.alert-spacer {
  flex: 1 1 auto;
}

.alert-dismiss:hover {
  cursor: pointer;
}

.info {
  background-color: $info;
}

.success {
  background-color: $success;
}

.warning {
  background-color: $warning;
}

.danger {
  background-color: $danger;
  color: white;
}